name: Publish

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

permissions:
  contents: write
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Build
      run: dotnet build --configuration Release
    - name: Test
      run: dotnet test --no-build --configuration Release
    - name: Pack
      working-directory: src/SignalR.Orleans
      run: dotnet pack --configuration Release --no-build -p:Version=${GITHUB_REF##*/v}
    - name: Push
      working-directory: src/SignalR.Orleans/bin/Release
      run: |
        dotnet nuget push SignalR.Orleans.*.nupkg --skip-duplicate -k ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json
    - name: Create Release
      uses: actions/github-script@v5
      with:
        script: |
          github.rest.repos.createRelease({
            owner: context.repo.owner,
            repo: context.repo.repo,
            tag_name: context.ref,              
            name: context.ref,
            draft: false,
            prerelease: false,
            generate_release_notes: true
          })
